# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# uv
.python-version
# Build files
build/
dist/
wheels/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

uv.lock
pyproject.toml